.container-items {
  justify-content: center;
  height: 100%;
}
h1 {
  margin-bottom: 0;
}
#form {
  display: flex;
  flex-direction: column;
  width: 50%;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

input {
  width: 20rem;
  height: 5rem;
  margin-right: 2rem;
  text-align: left;
  font-size: 1.5rem;
  padding-left: 1rem;
}
label {
  font-size: 2rem;
}

#info {
  display: flex;
  margin: 0 auto 5rem auto;
  width: 50%;
  justify-content: center;
}

a {
  margin-bottom: 3rem;
}

#submitBtn {
  height: 100%;
  width: 18%;
  margin: auto 0;
}
#finalScore {
  font-size: 5rem;
}
@media (max-width: 500px) {
  #submitBtn {
    height: 100%;
    width: 100%;
    margin-top: 2rem;
  }
  input {
    width: 100%;
  }
  label {
    display: none;
  }
}
