.container-items {
  display: flex;
  justify-content: center;
  width: 80%;
}
.choices {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 0 auto 5rem auto;
}
.set1,
.set2 {
  display: flex;
  justify-content: center;
  width: 100%;
}
.choice {
  padding: 2rem 3rem;
  margin: 1rem;
  font-size: 2rem;
  border-radius: 1rem;
}
.choice:hover,
.choice:active {
  transform: none;
  box-shadow: none;
}

#question {
  width: 60%;
  margin: 2rem auto;
  font-size: 3rem;
}
.btn {
  background-color: cornflowerblue;
}
.btn1 {
  background-color: black;
  margin-bottom: 0;
}
.index {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: flex-end;
}
p {
  font-size: 2rem;
}
#questionCounter,
#scoreCounter {
  font-size: 3rem;
  color: cornflowerblue;
}

@media (max-width: 500px) {
  * {
    padding: 0;
    margin: 0;
  }
  .index {
    padding-top: 1rem;
    margin-bottom: 1rem;
  }
  .choices {
    margin-bottom: 1rem;
  }
  #question {
    margin: 0;
    width: 100%;
  }
}
@media (max-width: 280px) {
  .index {
    margin-bottom: 0px;
  }
  .choices {
    margin-bottom: 0px;
    justify-content: center;
  }
  .choice {
    width: 80%;
  }
  .set1,
  .set2 {
    justify-content: center;
  }
}
