:root {
  font-size: 62.5%;
  background-color: #f4f4f4;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.container-items {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 5rem;
  align-items: center;
}

.container-items > * {
  margin-bottom: 5rem;
}
#heading {
  font-size: 7rem;
  text-transform: uppercase;
}
.btn {
  text-decoration: none;
  font-size: 2rem;
  width: 20rem;
  padding: 1rem 2rem;
  background-color: black;
  text-transform: uppercase;
  color: white;
}

.btn.btn1 {
  width: 25rem;
}

.btn:hover,
.btn:active {
  cursor: pointer;
  transform: scale(0.95);
  transition: transform 100ms;
  box-shadow: 0 0.5rem 1.5rem black;
}
.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}
.img {
  align-self: flex-start;
}
@media (max-width: 679px) {
  .img {
    display: none;
  }
  .container-items {
    justify-content: center;
  }
  #heading {
    font-size: 5rem;
  }
  .choice {
    padding: 1rem 1.5rem;
    width: 100%;
    margin: 0.5rem;
    font-size: 1rem;
  }
  .set1,
  .set2 {
    width: 50%;
    flex-direction: column;
  }
  #info {
    flex-direction: column;
    width: 100%;
  }
}
